{{template "base" .}}
{{define "content"}}
<h2>All users list</h2>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>UserName</th>
            <th>Email</th>
            <th>Moderator</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        {{$t :=.CSRFToken}}
        {{range index .Data "users"}}
        <tr>
            <td>{{.ID}}</td>
            <td>{{.UserName}}</td>
            <td>{{.Email}}</td>
            <td>
                {{if ne .AccessLevel "3"}}
                <form method="post" action="/admin/change-access-level" id="mod-form{{.ID}}">
                    <input type="hidden" name="csrf_token" value="{{$t}}">
                    <input type="hidden" name="user-id" value="{{.ID}}">
                    <input type="checkbox" name="moderator" id="{{.ID}}" value="{{.AccessLevel}}" {{if eq
                        .AccessLevel "2" }} checked {{end}}
                        onchange="document.getElementById('mod-form{{.ID}}').submit()">
                </form>
                {{end}}
            </td>
            <td>
                {{if ne .AccessLevel "3"}}
                <form method="post" action="/admin/delete-user" id="del-form{{.ID}}">
                    <input type="hidden" name="csrf_token" value="{{$t}}">
                    <input type="hidden" name="user-id" value="{{.ID}}">
                    <button type="submit">Del</button>
                </form>
                {{end}}
            </td>
        </tr>
        {{end}}
    </tbody>
</table>
{{end}}