{{template "base" .}}
{{define "content"}}
<h2>Login</h2>

{{if ne .Error ""}}
<p style="color: orange;">{{.Error}}</p>
{{end}}

{{$e := index .StringMap "email" }}

<form action="/login" method="post">

    <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">

    <label for="email">Email</label>
    <input type="email" name="email" id="email" value="{{$e}}" required>

    <label for="password">Password</label>
    <input type="text" name="password" id="password" required>

    <input type="submit" value="Login">
</form>

<a href="/new-user">Register</a>

{{end}}