{{template "base" .}}
{{define "page_title"}}
<h2>Login</h2>
{{end}}
{{define "content"}}

{{if ne .Error ""}}
<li class="text-danger my-4">{{.Error}}</li>
{{end}}

{{$e := index .StringMap "email" }}

<div class="card-text">
    <form action="/login" method="post">

        <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">

        <div class="mb-3">
            <label for="email" class="form-label">Email address</label>
            <input type="email" class="form-control" name="email" id="email" value="{{$e}}" required>
        </div>

        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" name="password" id="password" required>
            <!-- for ease of develop, delete in production -->
            <!-- <input type="password" class="form-control" name="password" id="password" value="password" required> -->
        </div>

        <button type="submit" class="btn btn-primary">Login</button>
    </form>
</div>

<p class="mt-4"><em>if your not already, <a class="btn btn-outline-primary" href="/new-user">register</a></em></p>
{{end}}