{{template "base" .}}
{{define "content"}}
<h2>Profile</h2>
<ul>
    <li>
        Username: <strong>{{.ActiveUser.UserName}}</strong>
    </li>
    <li>
        Email: <strong>{{.ActiveUser.Email}}</strong>
    </li>
    <li>
        Access Level: <strong>
            {{if eq .ActiveUser.AccessLevel 1}}
            User
            {{else if eq .ActiveUser.AccessLevel 2}}
            Moderator
            {{else if eq .ActiveUser.AccessLevel 3}}
            Administrator
            {{end}}
        </strong>
    </li>
</ul>
{{end}}