{{template "base" .}}
{{define "page_title"}}
<h2>Profile</h2>
{{end}}
{{define "content"}}
<div class="card-text">
    <ul class="list-group">
        <li class="list-group-item list-group-item-primary">
            Username: <strong>{{.ActiveUser.UserName}}</strong>
        </li>
        <li class="list-group-item list-group-item-success">
            Email: <strong>{{.ActiveUser.Email}}</strong>
        </li>
        <li class="list-group-item list-group-item-info">
            Access Level: <strong>
                {{if eq .ActiveUser.AccessLevel 1}}
                User
                {{else if eq .ActiveUser.AccessLevel 2}}
                Moderator
                {{else if eq .ActiveUser.AccessLevel 3}}
                Administrator
                {{end}}
            </strong>
        </li>
    </ul>
</div>
{{end}}